n8n-workflows/n8n_workflow_example.json
{
  "name": "Timing App to Jira Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "command": "python3",
        "arguments": "work_pattern_analyzer.py",
        "options": {}
      },
      "id": "python-script",
      "name": "Analyze Work Patterns",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [460, 300],
      "webhookId": "work-pattern-analyzer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-activity",
              "leftValue": "={{ $json.status }}",
              "rightValue": "has_activity",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-activity",
      "name": "Check for Activity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "update",
        "issueId": "={{ $json.jira_updates[0].ticket }}",
        "updateFields": {
          "summary": "={{ $json.work_summary }}",
          "description": "=Work completed: {{ $json.work_summary }}\n\nTime spent: {{ $json.total_work_time_minutes }} minutes\nPrimary focus: {{ $json.primary_focus.primary_project }}\nSessions: {{ $json.sessions_count }}\n\nTimestamp: {{ $json.timestamp }}"
        }
      },
      "id": "update-jira",
      "name": "Update Jira Ticket",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "jiraApi": {
          "id": "jira-credentials",
          "name": "Jira API"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueComment",
        "operation": "create",
        "issueId": "={{ $json.jira_updates[0].ticket }}",
        "body": "=Work session completed:\n\n{{ $json.work_summary }}\n\n**Details:**\n- Time spent: {{ $json.total_work_time_minutes }} minutes\n- Primary project: {{ $json.primary_focus.primary_project }}\n- Sessions: {{ $json.sessions_count }}\n- Confidence: {{ Math.round($json.primary_focus.confidence * 100) }}%\n\n**Work Summary:**\n{{ $json.work_summary }}"
      },
      "id": "add-comment",
      "name": "Add Work Comment",
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [1120, 200],
      "credentials": {
        "jiraApi": {
          "id": "jira-credentials",
          "name": "Jira API"
        }
      }
    },
    {
      "parameters": {
        "message": "No recent work activity detected in the last 2 hours."
      },
      "id": "no-activity",
      "name": "No Activity",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Analyze Work Patterns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Work Patterns": {
      "main": [
        [
          {
            "node": "Check for Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Activity": {
      "main": [
        [
          {
            "node": "Update Jira Ticket",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Jira Ticket": {
      "main": [
        [
          {
            "node": "Add Work Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "timing-jira-workflow",
  "tags": []
} 